* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
.form-control:focus,
.form-control:active{
  outline: none;
  box-shadow: none;
}
body {
    background: #3C3C3C;
}
p{
  font-weight: 200;
}
.hero-section {
    height: 80vh;
    background-image: url('../images/DSC_0071\ 3.png');
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    background-attachment: fixed;
  }
.navbar-brand{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Fraunces', serif;
    font-size: 25px;
}
.nav-item{
    font-size: 18px;
    padding: 5px 30px;
}
.nav-link:hover {
    border-bottom: 3px solid #A26F4C;
}
.nav-tabs{
  border: none;
  padding-bottom: 50px;
  justify-content: center;
}
.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
  }  
.intro {
    margin-left: 4%;
    margin-top: 20%;
    font-family: 'Fraunces', serif;
  }
  .intro h1 {
    font-size: 75px;
  }
  .about{
    font-family: 'Fraunces', serif;
    font-weight: 200;
    margin-top: 100px;
    color: #F0EEE7;
  }
  .text p {
    font-weight: 200;
    word-spacing: 2px;
    line-height: 1.8;
    margin-right: 40px;
    color: #F0EEE7;
  }
  .card-text{
    font-weight: 200;
    font-size: 14px;
  }
  .image-about{
    width: 350px;
  }
  .image-about img {
    /* max-width: 50%;
    max-height:50%; */
    /* border-radius:150px 150px 0px 0px; */
    margin-left: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    object-fit: cover; /* You can use 'cover', 'contain', 'fill', etc. based on your needs */
    width: 100%; /* Adjust the width as needed */
    height: 100%;
  }
  .section-2.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  [type=button]{
    background: #A26F4C;
    border: none;
    color: #fff;
    border-radius: 12px;
    padding: 10px 50px;
  }
input[type=email],
input[type=text] {
  background: none;
  border: none;
  border-bottom: 2px solid #F0EEE7;
  box-sizing: border-box;
  outline: none;
  margin-top: 70px;
  background-color: #3C3C3C;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #F0EEE7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #F0EEE7;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #F0EEE7;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #F0EEE7;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #F0EEE7;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #F0EEE7;
}
  
form{
width: 70%;
}
input[type=email]:required,
input[type=text]:required {
  box-shadow: none;
  outline: none;
}
[type=submit] {
  background: #A26F4C;
  border: none;
  color: #fff;
  margin-top: 60px;
  padding: 10px 50px;
  border-radius: 20px;
}
/* [type=submit]:hover,
[type=submit]:focus {
  background: #c79e85;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 15px;
  animation: none;
  
} */
.container.contacts {
    display: flex;
    align-items: center;
    justify-content: center
}
.email{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
    font-weight: lighter!important;
    color: #F0EEE7;
}
.fa-brands{
    color: #c79e85;
}
.col-md-3 h6{
    font-weight: lighter!important;
    color: #F0EEE7;
    
}
  a:link {
    text-decoration: none;
  }


  .card{
    border-radius: none;
    background-color: #1E1E1E;
    color: rgb(216, 216, 216);
    border: none;
    box-shadow: 0px 8px 8px 0px #00000040;
}
.card-img-top{
    /* padding:15px; */
    /* height: 200px; */
    object-fit: cover;
}
.nav-tabs li a{
  color: #fff;
}
/* .card-img-top{
  height: 150px ;
} */